@media (max-width: 1199px) {
  .me-50 {
    margin-right: 0;
  }

  .burger-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #ffdd81;
    z-index: 10001;
    border-bottom: 1px solid black;
  }

  .overlay {
    position: fixed;
    top: 154px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 9999;
  }

  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar-toggler {
    border: none;
    box-shadow: none !important;
  }

  .navbar-toggler-icon {
    background-image: none !important;
    width: 30px;
    height: 3px;
    background: #000; /* средняя полоска */
    position: relative;
    display: block;
    margin: auto;
    transition: 0.3s;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background: #000;
    transition: 0.3s;
  }

  .navbar-toggler-icon::before {
    top: -8px;
  }

  .navbar-toggler-icon::after {
    top: 8px;
  }

  .navbar-toggler.open .navbar-toggler-icon {
    background: transparent;
  }

  .navbar-toggler.open .navbar-toggler-icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  .navbar-toggler.open .navbar-toggler-icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

  /* крестик */
  .navbar-toggler.open .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0px;
  }

  .navbar-toggler.open .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0px;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
    transform: rotate(45deg);
    top: 0px;
  }

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
    transform: rotate(-45deg);
    top: 0px;
  }
}

@media (min-width: 992px) {
  .col-xl-2-4 {
  flex: 0 0 auto;
  width: 20%;
}

}